<div class="container mt-5">
  <h1 class="mb-5">All our flats (<%= @flats.length %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="card">
          <%= link_to flat_path(flat) do %>
            <p class="card-title"><%= flat.name %> </p>
            <p class="card-subtitle"><%= flat.address %></p>
            <p class="card-meta">
              <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %>
              <i class="fas fa-pound-sign"></i> <%= flat.price_per_night %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
